# Node
node_modules/
dist/
build/
.env
.env.local

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# System
.DS_Store
.npm/

# Data & Cache
V2/backend/data/cache/
V2/backend/data/*.csv
V2/backend/data/*.json
!V2/backend/data/readme.md

# Large files
*.zip
*.tar.gz
